<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
           <script type="text/javascript">
            var app = angular.module("CustomerManagement", []);            
            app.controller("CustomerManagementController", function($scope, $http) {         
                //Initialize page with default data which is blank in this example
                $scope.customers = [];
                $scope.form = {
                    id : -1,
                    customer_id : "",
                    name : ""
                };

                _refreshPageData();
            
                
              //HTTP POST/PUT methods for add/edit employee
                $scope.submitCustomer = function() {         
                    var method = 'POST'; // "PUT"  // "POST"
                    var url = 'pos/updatecustomer';                     
                    $http({
                        method : method,
                        url : url,
                        data : angular.toJson($scope.form),
                        headers : {
                        	'Content-Type': 'application/json; charset=UTF-8',
                            'Accept': 'application/json; charset=UTF-8'
                        }
                    }).then( _success, _error );
                };
                

                $scope.removeCustomer = function( customer ) {         
                    var method = 'POST'; // "PUT"  // "POST"
                    var url = 'pos/removecustomer';                     
                    $http({
                        method : method,
                        url : url,
                        data : angular.toJson(customer),
                        headers : {
                        	'Content-Type': 'application/json; charset=UTF-8',
                            'Accept': 'application/json; charset=UTF-8'
                        }
                    }).then( _success, _error );
                };
                
                                    
                
                //In case of edit employee, populate form with employee data
                $scope.editCustomer = function(customer) {
                	$scope.form = customer;
                   /* $scope.form.name = customer.name;
                    $scope.form.customer_id = customer.customer_id;
                    $scope.form.id = customer.id;
                    */
                };
                
                
                /* Private Methods */
                function _refreshPageData() {
                    $http({
                        method : 'GET',
                        url : 'pos/getallcustomer'
                    }).then(function successCallback(response) {
                        $scope.customers = response.data;
                    }, function errorCallback(response) {
                        console.log("Error:" + response);
                    });

                }
    
                
                
                function _success(response) {
                    _refreshPageData();
                    _clearForm()
                }
         
                function _error(response) {
                	   console.log(response.statusText);
                }                         
                
              //Clear the form
                function _clearForm() {
                    $scope.form.name = "";
                    $scope.form.customer_id = "";
                    $scope.form.id = -1;
                };
                
                
                
                
                
            });
        </script>
         <style>
            .button {
                cursor: pointer;
            }
        </style>
    <head>
    <body ng-app="CustomerManagement" ng-controller="CustomerManagementController">
        <table>
            <tr>
                <th>Id</th>
                <th>Identificador Cliente</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
             <tr ng-repeat="customer in customers">
                <td>{{ customer.customer_id }}</td>
                <td>{{ customer.name }}</td>
                <td><a ng-click="editCustomer( customer )" class="button">Edit</a> | <a ng-click="removeCustomer( customer )" class="button">Remove</a></td>
            </tr>
 
        </table>
 
        <h2>Add/Edit Cliente</h2> 
        <form ng-submit="submitCustomer()">
            <table>
                <tr>
                    <td>Identificador del Cliente</td>
                    <td><input type="text" ng-model="form.customer_id" size="60" /></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" ng-model="form.name" size="60" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
           <a ng-click="_refreshPageData()" class="button">Actualizar</a>
    </body>
</html>